<ion-header>
  <ion-toolbar>
    <ion-title>Contact Nous</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="assets/imgs/logo.png" alt="">
  <div class="ion-margin-top ion-text-center">
    <ion-chip color="primary" outline (click)="Alert('+212 6 613 85 101')">
      <ion-icon name="call"></ion-icon>
    </ion-chip>

    <ion-chip color="success" outline (click)="Alert('+212 691 967 933')">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-chip>

    <ion-chip color="medium" outline (click)="Alert('cdramaroc@gmail.com')">
      <ion-icon name="mail"></ion-icon>
    </ion-chip>

    <ion-chip color="secondary" outline (click)="Alert('www.bigbus-marrakech.com')">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-chip>
    
    <ion-chip color="danger" outline (click)="Alert('Mag N : 3 Immeuble 423, B Massira 3, 40000 Marrakech, Maroc.')">
      <ion-icon name="location"></ion-icon>
    </ion-chip>
  </div>
  <div class="ion-margin-top" mode="md">
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label position="floating">Nom Complet</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label position="floating">Telephone</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-label position="floating">Adresse</ion-label>
      <ion-textarea row="1" autoGrow></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-icon name="chatbox-ellipses" slot="start"></ion-icon>
      <ion-label position="floating">Message</ion-label>
      <ion-textarea row="1" autoGrow></ion-textarea>
    </ion-item>

  </div>
  
  <ion-button expand="block" shape="round" color="primary" class="ion-margin-top ion-margin-bottom">
    ENVOYER MESSAGE
    <ion-icon name="paper-plane" slot="end"></ion-icon>
  </ion-button>

</ion-content>
