<ion-header>
  <ion-toolbar>
    <ion-title>Qui Somme Nous</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-chip color="dark" outline (click)="Alert('+50 Premium tours','Nous organisons des séjours en montagne, trekking dans le désert, rando chamelière et circuits en 4x4. ... Voyagez autrement avec big bus transport')">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label><span>+50 </span> Premium tours</ion-label>
    </ion-chip>
    <br>
    <ion-chip color="dark" outline (click)="Alert('+1000 Clients','Nous Visons La Perfection, Et Notre Attention Aux Petits Détails Nous A Fait L un Des Acteurs Majeurs Dans Le Domaine Du Transport D affaire Et Touristique.')">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label><span>+1000 </span> Clients</ion-label>
    </ion-chip>
    <br>
    <ion-chip color="dark" outline (click)="Alert('H24 Support','Notre équipe de support est disponible 24 heures sur 24, 365 jours par an, afin de répondre à toutes vos questions')">
      <ion-icon name="link"></ion-icon>
      <ion-label><span>H24 </span> Support</ion-label>
    </ion-chip>
  </div>
 
  <h3>
    <b class="titre ion-margin-top ion-text-center">
      <ion-chip color="tertiary">
        <ion-label>AGENCE DE <span>TRANSPORT</span> TOURISTIQUE À MARRAKECH</ion-label>
      </ion-chip>
    </b>
  </h3>
  <ion-card>
    <img src="assets/imgs/logo.png" alt="">
    <ion-card-subtitle class="ion-text-center">
      big bus transport une agence de transport touristique a marrakech avec ou sans Chauffeur. La Qualité, La Fiabilité et le Service sont nos principes. Nous nous efforçons de fournir à nos clients un service irréprochable. Nous visons la perfection, et notre attention aux petits détails nous a fait l'un des acteurs majeurs dans le domaine du transport d'affaire et touristique.
      <br>
      Nous mettons notre expérience et notre savoir faire à votre disposition, pour créer avec vous un pakage complet et adapté à vos besoins, ainsi que pour vous aider à planifier la logistique de vos déplacements Touristique et Professionnel.
    </ion-card-subtitle>
  </ion-card>
  <div class="ion-margin-top ion-text-center">
    <p>
      <ion-chip color="dark">
        <ion-label>Location de Voiture</ion-label>
      </ion-chip>
    </p>
    <p>
      <ion-chip color="dark">
        <ion-label>Circuits Depart Marrakech</ion-label>
      </ion-chip>
    </p>
    <p>
      <ion-chip color="dark">
        <ion-label>Activités À MARRAKECH</ion-label>
      </ion-chip>
    </p>
  </div>
</ion-content>
